<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t00055219.tictacded">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ai_mad"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Tic Tac Toc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".PlayGameGirlfriend"
            android:label="Play Against AI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayGame"
            android:label="Lets Play!"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterNames"
            android:label="Choose Character"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scores"
            android:label="Scores"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>